body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mg-10 {
  margin: 10px;
}

.mg-2rem {
  margin: 2.5rem;
}

.card-title {
  height: 50px !important;
}

img {
  height: 200px;
  object-fit: contain;
  margin-top: 1.5rem;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.d-flex li {
  width: 300px;
}

.d-flex li:nth-child(2) {
  border: 1px solid #888686;
  width: 50px;
  max-height: 28px;
}

.carousel-control-prev-icon {
  background-color: #f85555 !important;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: #f85555 !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #2e2e2e;
}

.quantity {
  justify-content: center;
  height: 30px;
}

.quantity p {
  border: 1px solid #888686;
  height: 30px;
  width: 2rem;
}

.quantity button {
  border: 1px solid #888686;
  width: 25px;
}

.d-flex h3 {
  color: #888686;
}

.cart-btn {
  width: 100%;
  height: 3rem;
}

.description {
  margin: 10px;
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.over {
  background-color: #fff;
  opacity: 0;
  position: absolute;
  transition: .8s;
}

.over:hover {
  opacity: 100;
}

.pointer {
  cursor: pointer;
}

footer {
  background-color: #3c3c3b;
  color: #fff;
  height: 10rem;
  font-size: xx-large;
}

footer a {
  text-align: center;
}

footer i {
  color: #fff;
  width: 50px;
  height: 41px;
}

footer i:hover {
  cursor: pointer;
}

.b-soft {
  background-color: #5e5e5e;
  border-radius: 50px;
}


.cartProduct_Container {
  width: 100%;
  min-height: 31%;
  margin: 10% 0;
  border: 1px solid black;
  padding: 10px;
}

.productAmount {
  width: 15%;
  text-align: center;
  height: 27px;
  border: 1px solid black;
}

.totalAmount {
  display: flex;
  gap: 2rem;
  justify-content: end;
}




.totalAmountFixed {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.fixedTotal_Container button {
  width: 80%;
  margin: 1% 12%;
}

.fixedTotal_Container {


  background-color: #fff;
  width: 100%;
  height: 8rem;
  border-top: 1px solid black;
  padding: 1rem;

}

.LogginSmallDevices {
  margin-bottom: 0rem;
}



.logginContainer {
  height: 439px;
  width: 100%;
}

.loggin {
  width: 50%;
  margin: 5% auto;
}

.testUser {
  width: 33%;
  margin: 1% auto;
  background: gray;
  color: white;
  text-align: center;
  padding: 1%;
}



/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .card {
    font-size: small;
  }

  .LogginSmallDevices {
    margin-bottom: 1rem;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .LogginSmallDevices {
    margin-bottom: 1rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card {
    margin: 2rem 10%;
  }

  .LogginSmallDevices {
    margin-bottom: 0;
  }


}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .LogginSmallDevices {
    margin-bottom: 0;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .LogginSmallDevices {
    margin-bottom: 0;
  }
}