body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mg-10 {
  margin: 10px;
}

.mg-2rem {
  margin: 2.5rem;
}

.card-title {
  height: 50px !important;
}

img {
  height: 200px;
  object-fit: contain;
  margin-top: 1.5rem;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.d-flex li {
  width: 300px;
}

.d-flex li:nth-child(2) {
  border: 1px solid #888686;
  width: 50px;
  max-height: 28px;
}

.carousel-control-prev-icon {
  background-color: #f85555 !important;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: #f85555 !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #2e2e2e;
}

.quantity {
  justify-content: center;
  height: 30px;
}

.quantity p {
  border: 1px solid #888686;
  height: 30px;
  width: 2rem;
}

.quantity button {
  border: 1px solid #888686;
  width: 25px;
}

.d-flex h3 {
  color: #888686;
}

.cart-btn {
  width: 100%;
  height: 3rem;
}

.description {
  margin: 10px;
}

.align-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.over{
  background-color: #fff;
  opacity: 0;
  position: absolute;
  transition: .8s;
}

.over:hover{
  opacity: 100;
}

.pointer{
  cursor: pointer;
}

footer{
  background-color: #3c3c3b;
  color: #fff;
  height: 10rem;
  font-size: xx-large;
}

footer a{
  text-align: center;
}

footer i{
  color: #fff;
  width: 50px;
  height: 41px;
}

footer i:hover{
  cursor: pointer;
}

.b-soft{
  background-color: #5e5e5e;
  border-radius: 50px;
}

/* .categories-style {
	position: fixed;
	top: 61px;
	width: 15%;
	background: white;
}

.input-group {
	position: relative !important;
	display: flex !important;
	flex-wrap: wrap !important;
	align-items: stretch !important;
	width: 55% !important;
	margin: 1% auto !important;
}

.container-products {
	width: 80% !important;
	margin-left: 15% !important;
}




.offcanvas-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}





.offcanvas.offcanvas-start {
  top: 0;
  right: 0 !important;
  width: var(--bs-offcanvas-width);
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(100%);

}




>>>>>>> 5633c612c33d609f8aadef694e87e7f448ba77dd

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .card {
    font-size: small;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card{
    margin: 2rem 10%;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}